<html>
	<head>
		<title>Sample Backbone.js application</title>
    <style>ul{border: 1px solid black;}</style>
	</head>
	<body>

    <!-- Template: handlebars -->
    <script id="books-template" type="text/x-handlebars-template">
      {{#each library}}
        {{! this is the book title}}
        <li>Book title: {{name}} by <em>{{author}}</em></li>
        {{#if published}}<span>-<u>Publised</u></span>{{/if}}
        {{#unless published}}<span>-<u>Publised</u></span>{{/unless}}

      {{/each}}
    </script>

    <ul id="boo-list">
    </ul>

		<script src="jquery-2.1.4.min.js"></script>
		<script src="underscore-min.js"></script>
		<script src="backbone-min.js"></script>
    <script src="handlebars.js"></script>
		<script src="app.js"></script>
	</body>
</html>
